global:
  scrape_interval:     15s
  evaluation_interval: 30s  

scrape_configs:
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
 
  - job_name: "api-metrics"
    scrape_interval: 5s
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: '/metrics'
    static_configs:
      - targets: ['tech.challenge.grupo27.api:8001']
      
  - job_name: "inserir-contatos-metrics"
    scrape_interval: 5s
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: '/metrics'
    static_configs:
      - targets: ['tech.challenge.grupo27.Inserir.contato:8005']    
        
  - job_name: "atualizar-contatos-metrics"
    scrape_interval: 5s
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: '/metrics'
    static_configs:
      - targets: ['tech.challenge.grupo27.Atualizar.contato:8009']
              
  - job_name: "delete-contatos-metrics"
    scrape_interval: 5s
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: '/metrics'
    static_configs:
      - targets: ['tech.challenge.grupo27.Delete.contato:8011']

