apiVersion: apps/v1
kind: Deployment
metadata:
  name: atualizar-contato
  labels:
    app: atualizar-contato
spec:
  replicas: 2
  selector:
    matchLabels:
      app: atualizar-contato
  template:
    metadata:
      labels:
        app: atualizar-contato
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: atualizar-contato
          image: matheuslascala/techchallenge-contato-api-atualizar:4.0
          ports:
            - containerPort: 8009
            - containerPort: 8008
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8009
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /ready
              port: 8008
            initialDelaySeconds: 5
            periodSeconds: 10
