apiVersion: apps/v1
kind: Deployment
metadata:
  name: delete-contato
  labels:
    app: delete-contato
spec:
  replicas: 2
  selector:
    matchLabels:
      app: delete-contato
  template:
    metadata:
      labels:
        app: delete-contato
    spec:
      containers:
        - name: delete-contato
          image: matheuslascala/techchallenge-contato-api-delete:4.0
          ports:
            - containerPort: 8011
            - containerPort: 8010
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8011
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /ready
              port: 8010
            initialDelaySeconds: 5
            periodSeconds: 10
