apiVersion: apps/v1
kind: Deployment
metadata:
  name: inserir-contato
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inserir-contato
  template:
    metadata:
      labels:
        app: inserir-contato
    spec:
      containers:
        - name: inserir-contato
          image: grupo27fiap/techchallenge-contato-api-inserir:4.0
          ports:
            - containerPort: 8005
            - containerPort: 8004
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8005
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /ready
              port: 8004
            initialDelaySeconds: 5
            periodSeconds: 10
