name: CI/CD - Deploy AKS

on:
  push:
    branches:
      - master

env:
  REGISTRY: docker.io
  IMAGE_VERSION: ${{ github.run_number }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v3

    - name: Login no DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Verificar estrutura de diretórios
      run: |
        ls -R
    
    - name: Build & Push de imagens com Docker Compose
      run: |
        docker compose -f docker-compose.yml build

        docker tag grupo27fiap/techchallenge-contato-api-consultar:4.0 $REGISTRY/grupo27fiap/techchallenge-contato-api-consultar:$IMAGE_VERSION
        docker tag grupo27fiap/techchallenge-contato-api-inserir:4.0   $REGISTRY/grupo27fiap/techchallenge-contato-api-inserir:$IMAGE_VERSION
        docker tag grupo27fiap/techchallenge-contato-api-atualizar:4.0 $REGISTRY/grupo27fiap/techchallenge-contato-api-atualizar:$IMAGE_VERSION
        docker tag grupo27fiap/techchallenge-contato-api-deletar:4.0   $REGISTRY/grupo27fiap/techchallenge-contato-api-deletar:$IMAGE_VERSION
        docker tag grupo27fiap/techchallenge-contato-worker:4.0        $REGISTRY/grupo27fiap/techchallenge-contato-worker:$IMAGE_VERSION

        docker push $REGISTRY/grupo27fiap/techchallenge-contato-api-consultar:$IMAGE_VERSION
        docker push $REGISTRY/grupo27fiap/techchallenge-contato-api-inserir:$IMAGE_VERSION
        docker push $REGISTRY/grupo27fiap/techchallenge-contato-api-atualizar:$IMAGE_VERSION
        docker push $REGISTRY/grupo27fiap/techchallenge-contato-api-deletar:$IMAGE_VERSION
        docker push $REGISTRY/grupo27fiap/techchallenge-contato-worker:$IMAGE_VERSION

    - name: Instalar Kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Configurar contexto do AKS
      uses: azure/k8s-set-context@v1
      with:
        method: kubeconfig
        kubeconfig: ${{ secrets.KUBE_CONFIG }}

    - name: Deploy no AKS
      run: |
        # substitua as tags de imagem no yaml antes do apply se necessário
        kubectl apply -f k8s/ --namespace=default
